@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Work+Sans:wght@400;600&display=swap');

/*COLORS*/
    $amarelo: #FFC756;
    $laranja: #F66139;
    $lilas: #7F8FFE;
    $verde: #56B78C;
    $cinza-claro: #D9D9D9;
    $cinza-escuro: #959595;

/*FONTS*/
    $fonte-primaria: 'Work Sans', sans-serif;
    $fonte-secundaria: 'Fjalla One', sans-serif;