@use '../abstract/variables';

* {
    box-sizing: border-box;
}


body {
    font-family: variables.$fonte-primaria;
    height: 100vh;
}

/*Estilos compartilhados*/
.categorias__titulo,
.destaques,
.eventos__titulo,
.agenda__titulo {
    font-size: 20px;
    text-transform: uppercase;
    font-family: variables.$fonte-secundaria;
}

img {
    opacity: 1;
    transition: 0.5s;
}

img:hover {
    opacity: 0.7;
}

/* Header */

.menu {
    background-color: black;
    font-family: variables.$fonte-secundaria;
    font-size: 16px;
    height: 258px;
    padding: 0 1.5rem;
    white-space: nowrap;

    &__titulo {
        background-image: url("../img/logo-branco-maior.png");
        background-repeat: no-repeat;
        background-position: center;
        padding: 40px 100px;
        width: 100%;
        cursor: pointer;
    }
    
    &__item {
        
        a {
            color: white;
            text-decoration: none;
            transition: .5s;

            &:hover{
                color: variables.$amarelo;
            }
        }

        &:nth-child(4)::before {
            padding-right: 8px;
            content: url("../img/icone-gps.png");
            cursor: pointer;
            transition: 3.3s;
        }
        
        &:nth-child(4)::after {
            padding-left: 8px;
            content: url("../img/icone-seta.png");
            cursor: pointer;
            transition: 3.3s;
        }
        
        &:nth-child(4)::after:hover,
        &:nth-child(4)::before:hover {
            background-color: variables.$amarelo;
        }
    }
    
    
    
    &__pesquisar {
        width: 100%;
        height: 40px;
        border: 2px solid white;
        border-radius: 10px;
        padding-top: 5px;
        margin-bottom: 10px;
    }
    
    &__input {
        color: white;
        background-color: black;
        background-image: url("../img/icone-busca.png");
        background-repeat: no-repeat;
        background-position: right;
        font-size: 16px;
        border: none;
        outline: none;
        width: 98%;
        line-height: 25px;
        padding-left: 5px;
    }
}




/*main*/

.principal {
    padding: 0 1.5rem;

    /*banner*/
    .banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*categorias*/
    .categorias {

        margin-top: 1.5rem;

        &__titulo {
            margin-bottom: 1rem;
        }
    
        &__lista {
            color: white;
            text-align: center;

            &__item {
                padding: 1.5rem;
                text-transform: uppercase;
                cursor: pointer;
                user-select: none;
                transition: 0.5s;
                opacity: 1;
                min-width: 282px;

                &:hover {
                    opacity: 0.7;
                }

                &:nth-child(1),
                &:nth-child(5) {
                    background-color: variables.$amarelo;
                }
            
                &:nth-child(2),
                &:nth-child(6) {
                    background-color: variables.$laranja;
                }
            
                &:nth-child(3),
                &:nth-child(7) {
                    background-color: variables.$lilas;
                }
            
                &:nth-child(4),
                &:nth-child(8) {
                    background-color: variables.$verde;
                }
            }
        }

        .destaques {
            padding: 30px 0 10px;
            white-space: nowrap;

            &__titulo {
                margin: 1rem 0;
            }
        
            &__barra {
                width: 131px;
                height: 2px;
                background-color: black;
            }
        
            img:last-of-type {
                padding-left: 10px;
            }
        }

    
        &__imagem {
            margin-bottom: 1.5rem;
            background-image: url("../img/destaques-360.png");
            background-repeat: no-repeat;
            height: 271px;
            background-size: cover;
            background-position: center;
            opacity: 1;
            transition: 0.5s;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    /* Eventos */

    .eventos {

        &__titulo {
            margin-bottom: 1rem;
        }
    
        &__item {
            background-color: variables.$cinza-claro;
            width: 307px;
            padding-bottom: 1rem;

            img {
                width: 100%;
            }
        
            h3 {
                font-size: 18px;
                font-weight: 600;
            }
        
            h4, h5 {
                font-size: 16px;
            }
        
            h3, h4, h5 {
                padding-left: 1rem;
            }
        
            button {
                outline: none;
                border: none;
                background-color: black;
                color: white;
                margin-right: 1rem;
                text-align: center;
                padding: .5rem 0;
                width: 80px;
                cursor: pointer;
                transition: .5s;
            }
        }
    
        &__btn {
            outline: none;
            border: none;
            background-color: black;
            color: white;
            padding: .75rem 0;
            width: 148px;
            cursor: pointer;
            transition: .5s;

            &:hover {
                background-color: variables.$amarelo;
            }
        }
    }
    
    /*Agenda*/

    .agenda {

        &__titulo {
            margin-top: 1.5rem;
            margin-bottom: 1rem;
        }
    
        &__item {
            background-color: variables.$cinza-claro;

            img {
                width: 100%;
            }

            .agenda__informacoes {
                text-align: center;
                background-color: variables.$cinza-escuro;
                color: white;
                text-transform: uppercase;
                padding-top: 1rem;
                padding-bottom: 1rem;

                h3 {
                    font-size: 2rem;
                }

                h4, h5 {
                font-size: 1.5rem;
                }
            }

            .agenda__atracao {
                text-align: center;
                padding: 1rem;

                h6 {
                    font-size: 18px;
                    font-weight: 600;
                }

                button {
                    outline: none;
                    border: none;
                    background-color: black;
                    color: white;
                    padding: .5rem 0;
                    width: 125px;
                    cursor: pointer;
                    transition: .5s;
                }
            }
        }
    
        .agenda__botao {
            @extend .eventos__btn; 
            
            /* outline: none;
            border: none;
            background-color: black;
            color: white;
            padding: .75rem 0;
            width: 148px;
            cursor: pointer;
            transition: .5s;

            &:hover {
                background-color: variables.$amarelo;
            } */
        }
    }

}



/* Footer */

.rodape {
    color: variables.$cinza-claro;
    background-color: black;
    margin: 1rem 0;
    font-size: 14px;
    font-family: variables.$fonte-primaria;
    padding: 1rem 1.5rem;
    line-height: 2;
    white-space: nowrap;

    &__lista {
        width: 135px;
    }
    
    &__titulo {
        font-size: 18px;
        font-family: variables.$fonte-secundaria
    }
    
    &__logo {
        font-size: 12px;

        h4 {
            background-image: url("../img/logo_rodape.png");
            background-repeat: no-repeat;
            background-position: center;
            height: 60px;
        }
    }
}

@media(min-width: 720px) {

    /* Header */
    .menu {
        height: 217px;

        &__titulo {
            width: auto;
            padding: 40px 55px;
        }

        &__pesquisar {
            width: 312px;
        }
    }

    .cabecalho__seu-local {

        &::before {
            padding-right: 8px;
        }

        &::after {
            padding-left: 15px;
        }   
    }
    
    /*main*/

    .principal {
        padding: 0 2.5rem;

        /* Categorias */
        .categorias__lista {
            height: 304px;
        }

        .categorias__imagem {
            background-image: url("../img/apresentacao-720.png");
        }

        .destaques__barra {
            width: 417.96px;
        }

        /* Agenda */

        .agenda__item {
            width: 308px;
        }
    }

    

    /* Rodapé */ 

    .rodape {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

}

@media(min-width: 1440px) {

    /* Header */
    .menu {
        height: 100px;
        font-size: 20px;
        padding: 0 7.5rem;

        &__titulo {
            background-image: url("../img/logo-branco-menor.png");
            padding: 43px 55px;
        }
    
        &__pesquisar {
            width: 384px;
            margin-bottom: 0;
        }
    
        &__input {
            padding-left: 15px;
        }
    }

    /*main*/

    .principal {
        padding: 0 7.5rem;

        /*categorias*/
        .categorias {
            margin-bottom: 1.5rem;

            &__titulo {
                margin-bottom: 0;
            }

            &__imagem {
                height: 224px;
                margin-bottom: 0;
                background-position-y: bottom;
            }
        }

        .destaques {
            padding: 0;

            &__barra {
                width: 416px;
            }
        }

        /*Eventos*/

        .eventos__item {
            width: 280px;
        }

        /*Agenda*/

        .agenda__item {
            width: 330px;
        }
    }
    /* Rodapé */

    .rodape {
        padding-left: 7.5rem;
        padding-right: 7.5rem;
    }

}